<h1><%= @tadpole.name %> Tadpole</h1>
<p>color: <%= @tadpole.color %></p>
<p>parent: <a href="/frogs/<%= @tadpole.frog.id %>"><%= @tadpole.frog.name %></a></p>
<p>lives: <a href="/ponds/<%= @tadpole.frog.id %>"><%= @tadpole.frog.pond.name %></a></p>
<p><strong><a href="/tadpoles/<%= @tadpole.id %>/evolve">Evolve to frog</a></strong></p>
<a href="/tadpoles">Back</a> | 
<a href="/tadpoles/<%= @tadpole.id %>/edit">Edit</a> | 
<a href="/tadpoles/<%= @tadpole.id %>/destroy">Delete</a>